
<div *ngIf="empleadoDetalle"  style="width:70%;margin:40px auto">
  <button mat-raised-button color="primary" (click)="goBack()">Atrás</button>
  <h2>Registro de Vacaciones</h2>
  <p>Nombre Completo: {{ empleadoDetalle.nombreCompleto }}</p>
  <p>Fecha Contrato: {{empleadoDetalle.fechaContrato}} </p>
  <p>Días de Vacaciones Disponibles: {{ empleadoDetalle.diasVacaciones }}</p>
 <!-- <p>Días de Vacaciones Tomados: {{ empleadoDetalle.diasTomados }}</p>-->
  <button mat-raised-button color="primary" (click)="agregarVacacion()">Agregar Vacación</button>

  <div >
    <h3>Registros de Vacaciones</h3>
    <table  mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!-- Columna Detalle -->
      <ng-container matColumnDef="detalle">
        <th mat-header-cell *matHeaderCellDef>Detalle</th>
        <td mat-cell *matCellDef="let vacacion">{{ vacacion.Vacaciones.detalle}}</td>
      </ng-container>

      <!-- Columna Fecha Inicio -->
      <ng-container matColumnDef="fechaInicio">
        <th mat-header-cell *matHeaderCellDef>Fecha Inicio</th>
        <td mat-cell *matCellDef="let vacacion">{{ vacacion.fechaInicio | date }}</td>
      </ng-container>

      <!-- Columna Fecha Fin -->
      <ng-container matColumnDef="fechaFin">
        <th mat-header-cell *matHeaderCellDef>Fecha Fin</th>
        <td mat-cell *matCellDef="let vacacion">{{ vacacion.fechaFin | date }}</td>
      </ng-container>

      <!-- Columna Gestión -->
      <ng-container matColumnDef="gestion">
        <th mat-header-cell *matHeaderCellDef>Gestión</th>
        <td mat-cell *matCellDef="let vacacion">{{ vacacion.gestion }}</td>
      </ng-container>

      <!-- Columna Fecha de Solicitud -->
      <ng-container matColumnDef="fechaSolicitud">
        <th mat-header-cell *matHeaderCellDef>Fecha de Solicitud</th>
        <td mat-cell *matCellDef="let vacacion">{{ vacacion.fechaSolicitud | date }}</td>
      </ng-container>

      <!-- Columna Acciones -->
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let vacacion">
          <button mat-icon-button color="primary" (click)="editarVacacion()">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="eliminarVacacion()">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>

